<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>Andrew</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="icon" href="img/favicon.png">
    <th:block th:replace="personal/fragment/config :: HeadFragment" ></th:block>
</head>

<body>
<th:block th:replace="personal/fragment/sideBar :: sideBarFragment"></th:block>

<div class="page-holder">
    <th:block layout:fragment="content"></th:block>
    <th:block th:replace="personal/fragment/footer :: footerFragment"></th:block>
</div>
<th:block th:replace="personal/fragment/config :: JSFragment" ></th:block>
<th:block layout:fragment="script"></th:block>

</body>

</html>