<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--footerFragment 선언-->
<div th:fragment="footerFragment">
    <footer class="text-muted" style="background: #0d0d0d">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <h2 class="h4 text-white mb-4">About me</h2>
                            <p class="text-small">서버 개발자 <br>열정으로 배우는 개발자</p>
                            <ul class="list-unstyled text-small mb-0 text-white">
                                <li class="mb-1"><a class="reset-anchor" href="#"> <i class="fas fa-globe-americas text-muted mr-2 fa-fw"></i>서울특별시 관악구 시흥대로 158가길</a></li>
                                <li class="mb-1"><a class="reset-anchor" href="#"> <i class="fas fa-mobile text-muted mr-2 fa-fw"></i>+82-10-5529-1629</a></li>
                                <li class="mb-1"><a class="reset-anchor" href="#"> <i class="fas fa-envelope text-muted mr-2 fa-fw"></i>sjsh1623@naver.com</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <h2 class="h4 text-white mb-4">Follow me</h2>
                            <ul class="list-inline">
                                <div class="row text-white text-small">
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-facebook-f mr-2 mb-2 fa-fw"></i>Facebook</a></li>
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-twitter mr-2 mb-2 fa-fw"></i>Twitter</a></li>
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-instagram mr-2 mb-2 fa-fw"></i>Instagram</a></li>
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-dribbble mr-2 mb-2 fa-fw"></i>Dribbble</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-linkedin-in mr-2 mb-2 fa-fw"></i>Linkedin</a></li>
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-pinterest mr-2 mb-2 fa-fw"></i>Pinterest</a></li>
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-vimeo mr-2 mb-2 fa-fw"></i>Vimeo</a></li>
                                            <li><a class="reset-anchor" href="#"><i class="fab fa-youtube mr-2 mb-2 fa-fw"></i>Youtube</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <h2 class="h4 text-white mb-4">News</h2>
                            <ul class="list-unstyled mb-0">
                                <li><a class="reset-anchor" href="#">
                                    <div class="media"><img class="rounded-circle" src="img/news-1.jpg" alt="" width="50">
                                        <div class="ml-3 media-body">
                                            <p class="text-white mb-0">Design is all</p>
                                            <p class="small mb-1">10 Aug 2019</p>
                                            <p class="text-gray text-small">Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                                        </div>
                                    </div></a></li>
                                <li><a class="reset-anchor" href="#">
                                    <div class="media"><img class="rounded-circle" src="img/news-2.jpg" alt="" width="50">
                                        <div class="ml-3 media-body">
                                            <p class="text-white mb-0">Power is art</p>
                                            <p class="small mb-1">23 Dec 2019</p>
                                            <p class="text-gray text-small">Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                                        </div>
                                    </div></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark py-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="row text-white">
                            <div class="col-md-6 text-center text-md-left">
                                <p class="text-small mb-3 mb-md-0"><span class="text-muted">&copy; All rights reserved - Andrew SuckHyun Lim</span></p>
                            </div>
                            <div class="col-md-6 text-center text-md-right">
                                <p class="text-small mb-0">
                                    <!-- You are completely free to use this template for your personal use or as a work for your client as long as you keep the link at the template footer pointing to our partner and us.-->
                                    <!-- If you would prefer removing the backlink from the theme footer, please purchase the attribution-free license at the theme page at https://bootstraptemple.com.                            --><span class="text-muted">Template designed by </span><a class="reset-anchor" href="https://bootstraptemple.com/p/minimal-bootstrap-creative-portfolio">Bootstrap Temple</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</html>