<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="personal/layout/defaultLayout" lang="en">

<div layout:fragment="content">
    <div class="px-4 d-block d-lg-none">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <button class="navbar-toggler navbar-toggler-right text-sm text-uppercase" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="svg-icon svg-icon-heavy svg-icon-sm text-dark">
                        <use xlink:href="#menu-hamburger-1"> </use>
                    </svg>
                </button><a class="navbar-brand" href="index.html"><img src="img/logo.svg" alt="" width="50"></a>
            </nav>
        </header>
    </div>
    <div class="px-4 py-5">
        <div class="container-fluid">
            <div class="p-5 mb-5 bg-light">
                <div class="row">
                    <div class="col-sm-3"><img class="img-fluid img-thumbnail rounded-circle" src="img/andrew.jpeg" alt=""></div>
                    <div class="col-sm-9">
                        <h1 class="font-weight-normal">Hello! I'm <strong>석현</strong>. </h1>
                        <h2 class="h1 font-weight-normal mb-4">I'm a <strong>Developer </strong>and maker.</h2>
                        <p class="text-muted mb-4">Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched. Put hearing cottage she norland.</p>
                        <p class="text-muted mb-4">Dribbble shots for demo purposes by  <a href="https://dribbble.com/juliahanke">Julia Hanke</a>.</p>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-5 my-2"><a class="btn btn-primary rounded-pill" href="#">
                                <svg class="svg-icon mr-2 align-middle svg-icon-sm">
                                    <use xlink:href="#survey-1"> </use>
                                </svg><span class="align-middle">Download resume</span></a></li>
                            <li class="list-inline-item my-2">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-behance"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="h1">Work experience</h2>
            <p class="text-muted mb-4">Received overcame oh sensible so at an. Formed do change merely to county it.</p>
            <div class="row mb-4">
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <use xlink:href="#stack-1"> </use>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">Graphic Designer</h3>
                            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <use xlink:href="#laptop-screen-1"> </use>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">Web Designer</h3>
                            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <use xlink:href="#design-1"> </use>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">UI Designer</h3>
                            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <use xlink:href="#multiple-windows-1"> </use>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">Web Developer</h3>
                            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="h1">Fun facts</h2>
            <p class="text-muted mb-4">Received overcame oh sensible so at an. Formed do change merely to county it.</p>
            <div class="row text-center align-items-stretch">
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#stack-1"> </use>
                            </svg>
                            <h5>Happy Clients</h5>
                            <p class="mb-0 text-gray h5">1200</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center bg-light">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#quality-1"> </use>
                            </svg>
                            <h5>Awards Won</h5>
                            <p class="mb-0 text-gray h5">18</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#time-1"> </use>
                            </svg>
                            <h5>Working Hours</h5>
                            <p class="mb-0 text-gray h5">6500</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center bg-light">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#hot-coffee-1"> </use>
                            </svg>
                            <h5>Coffee Consumed</h5>
                            <p class="mb-0 text-gray h5">18000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        // Add Active on selected
        let element = document.getElementById('sideBarAbout');
        element.classList.add('active');
    </script>
</th:block>

</html>