<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="personal/layout/defaultLayout" lang="en">

<div layout:fragment="content">
    <div class="px-4 d-block d-lg-none">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <button class="navbar-toggler navbar-toggler-right text-sm text-uppercase" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="svg-icon svg-icon-heavy svg-icon-sm text-dark">
                        <use xlink:href="#menu-hamburger-1"> </use>
                    </svg>
                </button><a class="navbar-brand" href="/"><img src="img/logo.png" alt="" width="70"></a>
            </nav>
        </header>
    </div>
    <div class="px-4 py-5">
        <div class="container-fluid">
            <div class="p-5 mb-5 bg-light">
                <div class="row">
                    <div class="col-sm-3"><img class="img-fluid img-thumbnail rounded-circle" src="img/andrew.jpeg" alt=""></div>
                    <div class="col-sm-9">
                        <h1 class="font-weight-normal">Hello! I'm <strong>석현</strong>. </h1>
                        <h2 class="h1 font-weight-normal mb-4">I'm a <strong>Developer </strong>and maker.</h2>
                        <p class="text-muted mb-4"> 끊임없이 찾아보고 노력하고 인내하는 개발자 <br> 삽질을 즐겨하는 개발자 <br> 노력과 인내와 삽질을 기록하기 위해 만든 웹페이지</p>
                        <p class="text-muted mb-4"> 제 노션이 궁금하시다고요?   <a href="https://www.notion.so/sjsh1623">Andrew's Notion</a>.</p>
                        <ul class="list-inline mb-0">
                            <li id="downloadResume" class="list-inline-item mr-5 my-2"><a class="btn btn-primary rounded-pill" href="#">
                                <svg class="svg-icon mr-2 align-middle svg-icon-sm">
                                    <use xlink:href="#survey-1"> </use>
                                </svg><span class="align-middle">Download resume</span></a></li>
                            <li class="list-inline-item my-2">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-behance"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="h1">Work experience</h2>
            <p class="text-muted mb-4">(주)마드라스체크 플로우 서버 개발자</p>
            <div class="row mb-4">
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <use xlink:href="#multiple-windows-1"> </use>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">Web Developer</h3>
                            <p class="text-muted mb-2">JavaScript, JQuery를 사용하여 Front End 작업을 하였으며 전문을 불러와 자유롭게 동적처리 할 수 있는 능력을 가지고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <use xlink:href="#paper-stack-1"></use>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">Server Developer</h3>
                            <p class="text-muted mb-2">Java를 사용하여 보안, 전문처리 및 세션 처리 작업하였으며 Amazon Web Service를 사용하여 서버 생성 및 CentOS설치 하였습니다. 또한 Batch서버 작업도 하여 각종 API연동 작업을 하였습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <svg class="theme-line-2"><use xlink:href="#security-shield-1"></use></svg>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">SQL Developer</h3>
                            <p class="text-muted mb-2">MySQL, Postgre로 SQL작업을 하였으며 Cost를 측정하며 쿼리를 작성하였으며 보안처리 (base64, ase256) 작업을 하였습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <svg class="svg-icon text-primary">
                                <use xlink:href="#deadline-1"></use>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="h5 mr-3">Andrew Developer</h3>
                            <p class="text-muted mb-2">개발자로서 공부는 필수! 꾸준한 학습과 삽질로 제 자신을 Develop하고 있습니다. Forever!</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="h1">Achievement</h2>
            <p class="text-muted mb-4">지금까지 한 것 기록하기~</p>
            <div class="row text-center align-items-stretch">
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#stack-1"> </use>
                            </svg>
                            <h5>다국어 처리</h5>
                            <p class="mb-0 text-gray h5">Flow</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center bg-light">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#quality-1"> </use>
                            </svg>
                            <h5>리뉴얼</h5>
                            <p class="mb-0 text-gray h5">Flow</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#time-1"> </use>
                            </svg>
                            <h5>API 연동 및 배치</h5>
                            <p class="mb-0 text-gray h5">Flow</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="border p-4 h-100 d-flex align-items-center bg-light">
                        <div class="w-100">
                            <svg class="svg-icon text-gray mb-2">
                                <use xlink:href="#hot-coffee-1"> </use>
                            </svg>
                            <h5>커피 흡수량</h5>
                            <p class="mb-0 text-gray h5">18000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        // Add Active on selected
        let element = document.getElementById('sideBarAbout');
        let resumeButton = document.getElementById('downloadResume');
        element.classList.add('active');
        resumeButton.onclick = function() {toastr["info"]("sjsh1623@naver.com", "이메일을 보내주세요");}

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "150",
            "hideDuration": "500",
            "timeOut": "2500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    </script>
</th:block>

</html>